<div style="min-height: 90vh" fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="center center"> 
      <img src="https://notredame.box.com/shared/static/fyslx6208g2c3jn11ki0v4u2kkpqo6y3.png" class = "sprout-logo" width="200" height="200">
      <br>
    <div mdcHeadline4>What would you like to be called?</div>
    <br>
    <mdc-text-field outlined class="circle-input" >
    </mdc-text-field>
    <br>
    <button mdc-button outlined class = "next-button"(click)="onNext()">Next</button>
  </div>
</div>
