.name{
    font-family: Typoround;
}
.circle-input{
    mdc-text-field-outline-shape-radius: 50%;
  }

.next-button{
    border-radius: 30px;
    color: #0cef71;
    border-color: #0cef71;
    font-family: Typoround;
}