<div style="min-height: 90vh" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center"> 
      <div mdcHeadline2 class="hello">Hi Oliver!</div>
        <br>
      <div mdcHeadline4 class="instructions">To finish registering please enter your netID and password</div>
        <br>
      <mdc-text-field class="circle-input " outlined dense="isDense" label="NetID">
      </mdc-text-field>
        <br>
      <mdc-text-field class="circle-input " outlined dense="isDense" label="Password" type="password">
      </mdc-text-field>
        <br>
      <button mdc-button class = "next-button" outlined (click)="onNext()">Next</button>
    </div>
  </div>
<div fxLayout="row" fxLayoutAlign="space-around start" style="padding-bottom: 25px">
  <div class="logo"></div>
</div>
  