<div style="min-height: 90vh" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center"> 
      <div mdcHeadline2>Hi Clara!</div>
      <div mdcHeadline4>To finish registering please enter your netid and password</div>
      <mdc-text-field class="circle-input " outlined="false" dense="isDense" label="NetId">
      </mdc-text-field>
      <mdc-text-field class="circle-input " outlined="false" dense="isDense" label="Password">
      </mdc-text-field>
      <button mdc-button (click)="onNext()">Next</button>
    </div>
  </div>
  