<div style="min-height: 90vh" fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="center center"> 
  	<img src="../../../../assets/images/logoCOL.png" class = "sprout-logo" width="150" height="150">
    <div mdcHeadline4 class = "main">login</div>
    <br>
    <mdc-text-field class="circle-input " outlined label="NetId">
    </mdc-text-field>
    <br>
    <mdc-text-field class="circle-input " outlined label="Password" type="password">
    </mdc-text-field>
    <br>
    <button mdc-button outlined class = "login-button" (click)="onNext()">Login</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around start" style="padding-bottom: 25px">
  <div class="logo"></div>
</div>