.m1{
    font-family: Typoround;
}

.circle-input {
    border-radius: 15px;
  }
.sprout{
    height: 55px;
    width: 165px;
    background-image: url("../../../../assets/images/sproutwhite.png");
    background-size: cover;
    background-position: center;
}