<div style="min-height: 90vh" fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="space-around center"> 
    <div mdcHeadline2>Congratulations!</div>
      <br>
    <div mdcHeadline4>You're ready to Sprout!</div>
      <br>
      <br>
    <input type="image" src="https://notredame.box.com/shared/static/5lhg9rertltawqotm8w2btksbb7lzai7.png" name="saveForm" class="btTxt submit" id="saveForm" width=100/>
<!--    <button mdc-button>Finish</button>-->
  </div>
</div>
  