.title{
	font-family: Typoround;
}

.searchbar{
	min-width: 500px;
}

.divisions{
	min-width:800px;
}
.popular{
	font-family: Typoround;
}
.row1{
	min-width:800px;
}
.KSA{
	width: 250px;
	height: 150px;
    background-image: url("../../../../assets/images/ksabutton.png");
    background-size: cover;
    background-position: center;
}
.SIBC{
	width: 250px;
	height: 150px;
    background-image: url("../../../../assets/images/SIBCbutton.png");
    background-size: cover;
    background-position: center;
}
.CSE{
	width: 250px;
	height: 150px;
    background-image: url("../../../../assets/images/CSEbutton.png");
    background-size: cover;
    background-position: center;
}
.row4{
	min-width: 200px;
}
.explore{
	border-radius: 30px;
    color: #0cef71;
    border-color: #0cef71;
    font-family: Typoround;
}

.finish{
    border-radius: 30px;
    color: #0cef71;
    border-color: #0cef71;
    font-family: Typoround;
}

.message{
	font-family: Typoround;
}