.title{
	font-family: Typoround;
}

.searchbar{
	min-width: 500px;
}

.divisions{
	min-width:800px;
}
.popular{
	font-family: Typoround;
}
.row1{
	min-width:800px;
}
.add{
    min-width: 10px;
    min-height:10px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.KSA{
	width: 250px;
	height: 150px;
    background-image: url("../../../../assets/images/ksabutton.png");
    background-size: cover;
    background-position: center;
}

.SIBC{
	width: 250px;
	height: 150px;
    background-image: url("../../../../assets/images/SIBCbutton.png");
    background-size: cover;
    background-position: center;
}
.CSE{
	width: 250px;
	height: 150px;
    background-image: url("../../../../assets/images/CSEbutton.png");
    background-size: cover;
    background-position: center;
}
.row2{
    min-width:800px;
}
.mendoza{
    width: 250px;
    height: 150px;
    background-image: url("../../../../assets/images/mendozabutton.png");
    background-size: cover;
    background-position: center;
}
.dillon{
    width: 250px;
    height: 150px;
    background-image: url("../../../../assets/images/Dillonbutton.png");
    background-size: cover;
    background-position: center;
}
.football{
    width: 250px;
    height: 150px;
    background-image: url("../../../../assets/images/footballbutton.png");
    background-size: cover;
    background-position: center;
}
.row3{
    min-width:800px;
}
.lewis{
    width: 250px;
    height: 150px;
    background-image: url("../../../../assets/images/lewisbutton.png");
    background-size: cover;
    background-position: center;
}
.campusdining{
    width: 250px;
    height: 150px;
    background-image: url("../../../../assets/images/camdiningbutton.png");
    background-size: cover;
    background-position: center;
}
.stugov{
    width: 250px;
    height: 150px;
    background-image: url("../../../../assets/images/StuGovButton.png");
    background-size: cover;
    background-position: center;
}
.row4{
	min-width: 200px;
}
.explore{
	border-radius: 30px;
    color: #0cef71;
    border-color: #0cef71;
    font-family: Typoround;
}

.finish{
    border-radius: 30px;
    color: #0cef71;
    border-color: #0cef71;
    font-family: Typoround;
}

.message{
	font-family: Typoround;
}