<!-- <div class="auth-form" fxLayoutAlign="center">
  <name></name>
  <div fxLayout="column" fxLayoutAlign="center">
    <div>
      <h1>Register</h1>
    </div>
    <div fxLayout="row">
      <mdc-text-field style="width: 150px;" class="auth_textField" label="Firstname" outlined="false" dense="isDense"
      formControlName="firstname">
      </mdc-text-field>
      <mdc-text-field style="width: 150px;" class="auth_textField" label="Lastname" outlined="false" dense="isDense"
      formControlName="lastname">
      </mdc-text-field>
    </div>
  </div>
</div> -->
<div style="min-height:90vh" fxLayout="column" fxLayoutAlign="space-around center">
  <app-name></app-name>
</div>
