<div style="min-height: 50vh" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center"> 
    	<div mdcHeadline2 class="title">Oliver's Weekly Announcements</div>
    	<br>
	    <div fxLayout="column" fxLayoutAlign="center start" class="divisions">
		    <div mdcHeadline4 class="names">Korean Student Association:</div>
		    	<div mdcHeadline5 class="eventname">Seoul'd Out 2019</div>
		    <br>
		    <div mdcHeadline4 class="names">Dillon Hall:</div>
		    <br>
		    <div mdcHeadline4 class="names">Campus Dining:</div>
		    <br>
		</div>
    </div>
    <br>
    <br>
    <br>
</div>