.title{
	font-family: Typoround;
<<<<<<< HEAD
	color: #0cef71;
=======
	// font-color: 
>>>>>>> 7ceb9081e8f28dc42b36c73f09c84fbba601cf4d
}
.divisions{
	min-width:800px;
}
.names{
	font-family: Typoround;
}
.eventname{
	font-family: AvenirNext;
}