.title{
	font-family: Typoround;
	color: #0cef71;
}

.divisions{
	min-width:800px;
}
.names{
	font-family: AvenirNext;
}
.eventname{
	font-family: AvenirNext;
	color: #0cef71;
}

.p1{
	line-height: 30px; 
	font-family: AvenirNext;
	max-width: 800px;
}