<div style="min-height: 50vh" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center"> 
    	<img src="../../assets/images/oliverweekly.png" width=900>
	    <div fxLayout="column" fxLayoutAlign="center start" class="divisions">
	    	<br>
		    <div mdcHeadline4 class="names">KOREAN STUDENT ASSOCIATION:</div>
		    	<div mdcHeadline5 class="eventname">Seoul'd Out 2019</div>
		    	<div class = "p1">
			    	<p>
			    		 “Seoul’d Out” is HERE! KSA's biggest event (with more than 300 people!) will showcase the Korean culture through various performances, games, and entertainment. KPOP will be performing!
			    		 <br>
			    		 Our amazing freshmen reps, Noah Cha and Christine Kwon will be our MCs and star in a...you know it...K-DRAMA!
			    		 Come eat delicious Korean food and support your friends! 
			    		 <br>
			    		 Details:
			    	</p>
			    		 <ul>
			    		 	April 6th, Saturday<br>
			    		</ul>
			    	<p>
			    		Location:
			    	</p>
			    		<ul>
			    		 	Dahnke Ballroom<br> 
			    		</ul>
			    	<p>
			    		Ticket Prices:
			    	</p>
			    		<ul>
		    				KSA Members Presale: $5<br>
		    	 			KSA Members At Door: $7<br>
		    		 		Non-Members Presale: $7<br>
		    		 		Non-Members At Door: $9
			    		</ul>
		    	</div>
		    <div style="height: 10px; width: 100%; border-bottom: 1px solid white"></div>
		    <br>
		    <div mdcHeadline4 class="names">DILLON HALL:</div>
		    	<div mdcHeadline5 class="eventname">Milkshake Mass</div>
		    	<div class = "p1">
		    		<p>
		    			Come join the weekly Dillon Hall Milkshake Mass! <br>
		    			All are welcome!<br>
		    			Details: 
		    		</p>
		    			<ul>
		    				Thursday 10PM
		    			</ul>
		    <div style="height: 10px; width: 100%; border-bottom: 1px solid white"></div>
		    <br>
		    <div mdcHeadline4 class="names">CAMPUS DINING:</div>
		    	<div mdcHeadline5 class="eventname">Legends to Debut New Menu</div>
		    	<div class = "p1">
		    		<p>
		    			On Tuesday, April 2, Legends of Notre Dame will debut a new menu, featuring old favorites and tasty new additions. Game day classics like wings and burgers along with a selection of healthy and vegetarian options will be offered. Come in and try our Blue Cheese & Bacon Dip appetizer, Farmers' Market Farro Bowl, or Nashville Hot! Spicy Fried Chicken Sandwich. 
		    		</p>
		    	</div>
		    <br>
			</div>
    </div>
    </div>
	<div fxLayout="column" fxLayoutAlign="center start" class="divisions">
    	<img src="../../assets/images/suggestSP.png" width=400>
    	<div fxLayout="row" fxLayoutAlign="space-between center" class="suggestions">
			<button class = "sub" mdc-button>
                <button mdcIconButton [on]="false" class="add">
                    <mdc-icon>star_border</mdc-icon>
                    <mdc-icon mdcIconOn>star</mdc-icon>
                </button>
            </button>
			<button class = "csforgood" mdc-button (click)="(onNext)">
                <button mdcIconButton [on]="false" class="add">
                    <mdc-icon>star_border</mdc-icon>
                    <mdc-icon mdcIconOn>star</mdc-icon>
                </button>
            </button>
			<button class = "tennis" mdc-button (click)="(onNext)">
                <button mdcIconButton [on]="false" class="add">
                    <mdc-icon>star_border</mdc-icon>
                    <mdc-icon mdcIconOn>star</mdc-icon>
                </button>
            </button>
			<button class = "psych" mdc-button>
                <button mdcIconButton [on]="false" class="add">
                    <mdc-icon>star_border</mdc-icon>
                    <mdc-icon mdcIconOn>star</mdc-icon>
                </button>
            </button>
    	</div>
    </div>
    <br>
    <br>
    <br>
<div fxLayout="row" fxLayoutAlign="space-around start" style="padding-bottom: 25px">
  <div class="logo"></div>
</div>