.card {
    max-width: 350px;
    // margin: 10px;
    // padding: 0 10px;
    background-image:url("../../assets/gradientsprout.png");
    color: white;
    font-family: AvenirNext;
}

.mcwell-media {
    background-image: url("../../assets/panda.jpg");
    height: 100px;
}

.demo-card__primary {
    padding: 0 15px;
    margin: 0;
}
h2 {
    font-family: Typoround;
    margin: 0;
    color: white;
}
h3 {
    font-family: Typoround;
    margin: 0;
    color: white;
}
.calendar {
    width: 450px;
    height: 500px;
    background-size: cover;
}
.week-calendar {
    width: 650px;
    height: 520px;
    background-size: cover;
}

.calendar-box {
    // padding: 0 30px;
}
.c0 {
    z-index: 0;
}

.c1 {
    z-index: 1;
}
.c0 {
    z-index: 2;
}

.c1 {
    z-index: 3;
}

.headline {
    background-image: url("../../assets/gradientsprout.png");
    color: white;
    font-family: Typoround;
    padding: 5px 20px;
    border-radius: 30px;
}

.date {
    font-family: Typoround;
    // color: white;
}

.choice {
    min-width: 300px;
}
.choice-button {
    font-family: Typoround;
}

.mdc-menu {
    min-width: 200px;
}

.settings {
    color: black;
}

.announce-btn {
    font-size: 20px;
    height: 55px;
    width: 290px;
    text-transform: lowercase;
    font-family: Typoround;
    // outline: 5px solid green;
    // background-image: url("../../assets/gradientsprout.png");
    background-position: center;
}

