.card {
    max-width: 350px;
    margin: 10px;
    // padding: 0 10px;
    background-color: green;
}

.mcwell-media {
    background-image: url("../../assets/mcwell.png");
    height: 100px;
}

.demo-card__primary {
    padding: 0 15px;
    margin: 0;
}
h2 {
    // color: black;
    margin: 0;
}
h3 {
    // color: black;
    margin: 0;
}