<mdc-top-app-bar [scrollTarget]="standardContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Sprout">
      <div fxLayout="column" fxLayoutAlign="space-around">
        <img style="width: 150px; padding-top: 18px" src="../../assets/sproutwhite.png">
      </div>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem (click)="profileMenu.open = !profileMenu.open">settings</mdc-icon>
      <div mdcMenuSurfaceAnchor #menuAnchor>
        <mdc-menu #profileMenu [anchorElement]="menuAnchor" style="margin-top: 20px">
          <mdc-list>
            <mdc-list-item class="settings">manage subscriptions</mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item class="settings">account settings</mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item class="settings">sign out</mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </div>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<div fxLayout="row" fxLayoutAlign="space-around start" style="margin-top: 80px; margin-bottom: 60px;">
  <div fxFlex="60vw" fxLayout="column" fxLayoutAlign="space-around center" class="calendar-box">
    <div class="headline"></div>
    <div mdcHeadline6 *ngIf="month" class="date">3/1 - 3/31</div>
    <div mdcHeadline6 *ngIf="week" class="date">3/25 - 3/31</div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <!-- <div class="calendar c0" *ngIf="blank" style="background-image: url(../../assets/marchblank.png)"></div> -->
      <div class="calendar c1" *ngIf="date" style="background-image: url(../../assets/march28.png)"></div>
      <div class="week-calendar c2" *ngIf="cal1" style="background-image: url(../../assets/calendarONE.png)"></div>
      <div class="week-calendar c3" *ngIf="cal2" style="background-image: url(../../assets/calendarTWO.png)"></div>
    </div>  
  </div>
  <div fxFlex="30vw" fxLayout="column" fxLayoutAlign="space-around start">
    <div fxLayoutffxLayout="row" fxLayoutAlign="space-between center" class="choice">
      <button mdc-button class="choice-button">month</button>
      <button mdc-button (click)="onWeek()" class="choice-button">week</button>
      <button mdc-button class="choice-button">day</button>
    </div>
    <br>
    <br>
    <div mdcHeadline4 class="date">from mcwell</div>
    <div class="relax"></div>
    <br>
    <br>
    <div mdcHeadline4 class="date">subscriptions</div>
    <mdc-list-group style="min-width: 290px">
      <mdc-list dense>
        <mdc-list-item selected>
          <mdc-checkbox checked></mdc-checkbox>
          korean student association
        </mdc-list-item>
        <mdc-list-item selected>
          <mdc-checkbox checked></mdc-checkbox>
          dillon hall
        </mdc-list-item>
        <mdc-list-item selected (click)="onCheck()"> 
          <mdc-checkbox checked></mdc-checkbox>
          campus dining
        </mdc-list-item>
      </mdc-list>
    </mdc-list-group> 
    <br>
    <br>
    <button mdc-button (click)="onAnnounce()" class="announce-btn" outlined>generate weekly announcements</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around start" style="padding-bottom: 25px">
  <div class="logo"></div>
</div>
 


