/* You can add global styles to this file, and also import other style files */
// $mdc-theme-primary: #1565c0; // primary color example
// $mdc-theme-secondary: #388e3c; // secondary color example
$mdc-theme-primary: #dbcece;
$mdc-theme-secondary: darken(#2c2c2c, 1%);
$mdc-theme-background: #000000;
$mdc-theme-surface: darken(#efefef, 5%); // unofficial
$mdc-theme-error: #c70011; // unofficial
$mdc-theme-on-primary: #efefef; // unofficial
$mdc-theme-on-secondary: darken(#2c2c2c, 1%); // unofficial
$mdc-theme-on-surface: #2c2c2c; // unofficial
$mdc-theme-on-error: #c70011; // unofficial

@import "~@angular-mdc/theme/material";
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face { font-family: Typoround; src: url('./fonts/typo-round.regular-demo.otf'); } 
@font-face { font-family: Typoround; font-weight: bold; src: url('./fonts/typo-round.bold-demo.otf');}
@font-face { font-family: AvenirNext; src: url('./fonts/AvenirNext-Regular.otf'); }

$mdc-typography-font-family: 'Typoround' !important;

$mdc-typography-styles-headline1: (
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline2: (
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline3: (
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline4: (
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline5: (
  color: $mdc-theme-primary
);
$mdc-typography-styles-headline6: (
  color: $mdc-theme-primary
);
$mdc-typography-styles-caption: (
  font-weight: bold,
  color: darken($mdc-theme-primary, 20%)
);
$mdc-typography-styles-button: (
  font-weight: bold,
  text-transform: uppercase
);
$mdc-typography-styles-overline: (
  color: darken($mdc-theme-primary, 30%)
);
body {
    background-color: $mdc-theme-background;
    font-family: 'Typoround';
    color: $mdc-theme-primary;
    margin: 0px;
  }
.mdc-text-field {
    @include mdc-text-field-outline-shape-radius(50%);
    @include mdc-text-field-outline-color(#FFF);
    @include mdc-text-field-hover-outline-color(#FFF);
    @include mdc-text-field-helper-text-color(#FFF);
    @include mdc-text-field-ink-color(#FFF);
    @include mdc-text-field-label-color(#FFF);	
    @include mdc-text-field-caret-color(#FFF);	
}
.mdc-list {
    @include mdc-list-item-primary-text-ink-color(white);
    @include mdc-list-item-graphic-fill-color(white);
    @include mdc-list-group-subheader-ink-color(white);
    font-family: 'Typoround';
}

.mdc-top-app-bar {
    // @include mdc-top-app-bar-ink-color(green);
    @include mdc-top-app-bar-fill-color(black);
    @include mdc-top-app-bar-icon-ink-color(white)
}
   
.announce-btn {
    @include mdc-button-shape-radius(50%);
    @include mdc-button-outline-color(#0cef71);
}

.card-btn {
    // @include mdc-button-shape-radius(50%);
    @include mdc-button-outline-color(white);
    @include mdc-button-ink-color(white);
    font-family: AvenirNext;
    text-transform: lowercase;
}

.logo {
    height: 50px;
    width: 50px;
    background-image: url("./assets/images/logoCOL.png");
    background-size: cover;
    background-position: center;
}

.search-btn {
    @include mdc-icon-button-ink-color(white);
}